@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');



:root{
    --fonte1: "Orbitron", sans-serif;
    --fote-android: 'Android', cursive;
    --font2: "Libre Franklin", sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}

header{
   background-image: url(imagens/Foto\ de\ fundo\ empresarial\ para\ banner\ de\ Linkedin.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: aquamarine;
   height: 15%;
}

menu{
    background-color: #085CA6;
    margin-top: 0px;
    height: 40px;
}

ul{
    text-align:center;
    width: 100vw;
    padding-left: 20px;
    padding-top: 10px;
}


li{  
    display: inline-block;
}


a{
    color:#0FF2DB;
    font-size: 0.8em;
    margin-right: 20px;
    font-family: var(--fonte1);
    text-decoration: none;
}

a:hover{
    color:   #f6fdfd;
    font-size: 0.9em;
}



main{
    width: 100%;
}

h1{
    font-family:var(--fonte1);
    font-size: 2em;
    font-weight: normal;
    margin: 30px 0px 30px 0px;
    color: #085CA6;
    text-shadow: #033d6c35 2px 1px;
    text-align: center;
    padding: 10px;
}

#info-sou{
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    margin-bottom: 30px;
    font-family:var(--fonte2);
    font-weight: lighter;
    
}
h2{
    text-align: center;
    padding: 20px 40px 0px 40px;
    font-size: 1em;
    margin-bottom: 30px;
    font-family:var(--fonte1);
    font-weight: lighter;
    color: #085CA6;
    text-shadow: #033d6c15 2px 1px;

}


#oquefaco{
    height: 300px; 
}


#imagem{
    height: 46%;
    background-image: url(imagens/OIP.jfif);
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: top center;
    

}

#texto{
    height: 53%;
    position: relative;
    font-size: 0.7em;
   
}

#pri_texto{
    font-family: var(--font2);
    height: 70%;
    width: 86%;
    background-color: rgba(95, 158, 160, 0.125);
    transform: translate(8%,0%);
    text-align: center;
    padding: 20px;
    box-shadow: #0000002e 2px 2px 8px ;
}

#redes{
    width: 140px;
    margin: 12px auto 0px auto;
}
#git{
    float: left;
}
#lik{
    float: right;
}
a > img{
    width: 42px;
    height: 42px;
}

a:hover > img{
    transform: translate(0px, -5px);
}




#quemsou{
    background-image: linear-gradient(to top, #0756B2, #32A9D3, #A3DAE5, #6AE1E9);
    height: 450px;
    padding-top: 20px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    box-shadow: #0000001e 2px 2px 8px ;
    
}

#segun_texto{
    height: 80%;
    width: 86%;
    transform: translate(8%,20%);
}

#imagem2{
    background-color: #f9fafb;
    height: 48%;
    width: 200px;
    padding: 30px;
    background-image: url(imagens/OIP.jfif);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center center;
    margin: 0px auto 0px auto;
    border-radius:100%;
}

#texto2{
    height: 40%;
    text-align: center;
    font-size: 0.7em;
    font-family: var(--font2);
    font-weight: bolder;
   

}

#projetos{
    height: 1010px;
    
    
    
}
section#projetos > article{
    height: 31%;
    margin-top: 30px;
}

.imagem{
    margin: 12px  auto 0px auto;
    display: block;
    height: 50%;
    width: 70%;
    border-radius: 10px 10px 0px 0px;
    background-color: #0756B2;
    box-shadow: #0000001e 2px 2px 8px ;
    
}

#imagem4{
    background-image: url(imagens/projeto_android.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#imagem5{
    background-image: url(imagens/projeto_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    


}
#imagem6{
    
    background-image: url(imagens/porjeto_cordel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.texto{
    height: 50%;
    width: 70%;
    padding: 0px;
    margin: 0px  auto 20px auto;

}

#infor-projeto{
    display: block;
    height: 100%;
    background-color: rgba(95, 158, 160, 0.286);
    font-size: 0.6em;
    text-align: center;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: #0000001e 2px 2px 8px ;
}
#infor-projeto > p{
   
    padding-left: 26px;
}

#acesse{
    margin-top: 10px;
    font-size: 1.8em;
    font-family: var(--fonte1);
    text-shadow: #033d6c35 2px 1px;
    text-align: center;
}

#acesse a{
    color: #0756B2;
    
}
#linguagem{
    width: 60px;
    height: 20px;
    margin: 5px auto 0px auto;
}

#linguagem > img{
    width: 49px;
    height: 20px;
    margin-top: 18%; 
}
#linguagem{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
   }
   







#conversa{
    width: 90%;
    height: 110px;
    background-color: #b8f5ed;
    margin: 0px auto 15px auto;
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-family: var(--fonte1);
    font-size: 0.7em;
    color: #074892;
   
}
#contato>  p{
    font-family: var(--fonte1);
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;  
}
p> img{
   width: 50px;
   height: 50px;
   transform: translate(0px, 20px);

   

}

footer{ 
    height: 40px;
    background-color: #085CA6;
  
}
#a, #b, #c {
    display: inline-block;
    font-size: 0.7em;
    color: #0FF2DB;
    padding-top: 5px;
    font-family: var(--fonte1);
}
#a{
    float: left ;
    font-size: 0.9em;
    margin-top: 10px;
    width: 15%;
    text-align: center;
   
    padding-left: ;
}
#b{
    margin-top: 14px;
   
    width: 50%;
    float: center center;
    text-align: center;
}
#c{
    margin-top: 2px;
    float: right ;
    width: 34%;
    text-align: center;
    
}
#c span{
    transform: translate(0px, 5px);
}
#c span:hover{
   transform: translate(3px, 0px);
}