@charset 'utf-8';
*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}

header{
   background-image: url(imagens/Foto\ de\ fundo\ empresarial\ para\ banner\ de\ Linkedin.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: aquamarine;
   height: 100px;
}
main{
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
menu{
    background-color: #085CA6;
    margin-top: 0.5px;
    height: 40px;
  
}
ul{
    text-align: left;
    display: block;
    width: 100vw;
    padding-left: 20px;
    padding-top: 10px;
}


li{
    color:   #0FF2DB;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 20px;
}


#oquefaco{
  
    height: 300px;
    
  
}


#imagem{
    height: 50%;
    background-image: url(imagens/OIP.jfif);
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: top center;
    

}

#texto{
    height: 50%;
    position: relative;
}

#pri_texto{
    display: block;
    height: 70%;
    width: 86%;
    background-color: rgba(95, 158, 160, 0.286);
    transform: translate(8%,0%);
    text-align: center;
    padding: 10px;
}

#quemsou{
    background-color: aquamarine;
    height: 450px;
    padding-top: 5%;
    
}

#segun_texto{
    display: block;
    height: 4%;
    width: 86%;
    transform: translate(8%,20%);
}

#imagem2{
    background-color: #f9fafb;
    display: block;
    height: 40%;
    width: 200px;
    padding: 30px;
    background-image: url(imagens/OIP.jfif);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center center;
    border-radius:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
#texto2{
    height: 40%;
    position: relative;
    text-align: center;
   

}
#projetos{
   
    height: 600px;
  
}
section#projetos > article{
    display: block;
    width: 100%;
    height: 30%;
   
    margin-bottom: 20px;
   
}
article#imagem > img{
    width: 140px;
    display: block;
    align-content: center;
}
.texto{
    
    display: block;
    height: 100%;
    width: 60%;
    float: left;
    color: aliceblue;
    padding: 20px;
}
#infor-projeto{
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.286);
    transform: translate();
    color: black;
    font-size: 0.7em;
    text-align: center;
    padding: 20px 4px 4px 4px;


}
.imagem{
    background-color: coral;
    display: block;
    height: 100%;
    width: 30%;
    float: right;
    padding: 30px;
    margin-right: 30px;
}
footer{ 
    height: 28px;
    background-color: #085CA6;
}
h1{
    
    margin-top: 30px;
    font-size: 2em;
    margin-bottom: 30px;
}
h3{
    text-align: center;
    padding: 20px;
    font-size: 0.7em;
    margin-bottom: 30px;
}